BGMTV_AUTHORIZE = true
BGMTV_APP_ID = "bgmxxxxxxxxxx"
BGMTV_APP_SECRET = "dxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BGMTV_REDIRECT_URI = "your bgm.tv redirect uri"
BGMTV_USERAGENT = "your app user agent"
NUXT_SESSION_SECRET = "32-bit random string"
VITE_MOCK_BASEURL = "mock api base url for bgm.tv, this is optional"

