html,
body
{
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 300;
}

input
{
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  clear: both;
}

